.DS_Store
build/
dist/
plateypus.egg-info/
.pytest_cache/
**/__pycache__
plateypus/__pycache__/
plateypus/dataprocessing/__pycache__/
plateypus/setup/__pycache__/
plateypus/misc/pathDict.pkl
plateypus/misc/kitDf.csv
plateypus/misc/cytokineMWDf.csv
platypus/plotting/__pycache__/
